/*All page styles*/

body {
  background-color: #fff;
  color: #535353;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

/*HEADER STYLES*/

header {
  background-color: #6060b1;
  height: 75px;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
}

.head {
  display: inline-block;
  width: 7%;
  color: white;
  margin: 10px 0;
  padding: 20px 0;
  line-height: 15px;
  text-align: center;
}

#dashboard_nav {
  padding-left: 10px;
}

#notification_nav {
  padding-left: 70%;
  border-right: solid 1px black;
}

/*NAV STYLES*/

nav {
  background-color: #3c395e;
  width: 5%;
}

.horizontal {
  margin: 0;
  padding: 0;
}

.horizontal li {
  display: block;
  float: left;
  padding: 0 10px;
}

/*SEARCH BAR STYLES*/



/*ALERT STYLES*/

#alert {
  background-color: #6060b1;
}

/*WIDGETS STYLES*/

.secondary_content {
 border: solid 1px #c8c8c8;
}



@media (min-width: 321px) {

  body {
    background-color: green;
  }


}

@media (min-width: 1072px) {

  body {
    background-color: #fff;
  }

}
