/*All page styles*/

body {
  background-color: #fff;
  color: #535353;
  text-align: center;
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.selected {
  background-color: red;
}

/*HEADER STYLES*/



/*NAV STYLES*/



/*SEARCH BAR STYLES*/

h1,
#search {
  width: 90%;
  margin: 10px auto;
}

h1 {
  display: block;
  font-size: 1.25em;
}

#search {
  border-radius: 5px;
  padding-left: 5px;
  font-size: 0.75em; /* 12/16 */
  height: 20px;
}


/*ALERT STYLES*/

#alert {
  background-color: #6060b1;
  margin: 20px;
}

/*WIDGETS STYLES*/

.main_content {
 border: solid 1px #c8c8c8;
 border-top: 0;
}




/*Bigger than portrait on phones*/
@media (min-width: 321px) {




}

/*Tablet landscape*/
@media (min-width: 768px) {

  body {
    background-color: green;
  }

  /*HEADER STYLES*/

  header {
    background-color: #6060b1;
    height: 75px;
  }

  header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  header ul li a {
    text-decoration: none;
  }

  .head {
    display: inline-block;
    width: 10%;
    color: white;
    margin: 10px 0;
    padding: 20px 0;
    line-height: 15px;
    text-align: center;
  }

  #dashboard_nav {
    padding-left: 1%;
  }

  #profile_nav {
    padding-left: 2%;
  }

  #notification_nav {
    padding-left: 65%;
    border-right: solid 1px black;
  }

  /*NAV STYLES*/

  nav {
    background-color: #3c395e;
    width: 8%;
    position: absolute;
    bottom: 0;
    top: 75px;
    min-height: 100%;
  }

  .nav_icon {
    width: 50%;
    margin: 20px 10px;
    text-align: center;
  }

  .horizontal {
    margin: 0;
    padding: 0;
  }

  .horizontal li {
    display: block;
    float: left;
    padding: 0 10px;
  }

  /*SEARCH BAR STYLES*/

  h1 {
    display: inline-block;
    font-size: 1.5em; /* 24/16 */
    margin: 0 auto;
    width: inherit;
    height: 50px;
    padding-top: 10px;
  }

  #searcholder {
    width: 85%;
    background-color: #fafafa;
    display: block;
    float: right;
    height: 60px;
    border-bottom: solid 1px #c8c8c8;
    border-left: solid 1px #c8c8c8;
  }


  #search {
    width: 30%;
    padding-left: 10px;
    font-size: 0.75em; /* 12/16 */
    height: 30px;
    margin-left: 60%;
  }



}

/*Desktop*/
@media (min-width: 1072px) {

  body {
    background-color: #fff;
  }


  /*HEADER STYLES*/



  /*CONTENT STYLES*/

  .main_content {
    width: 92%;
    margin-left: 8%;
  }

  .half {
    display: inline-block;
    width: 50%;
    margin: 0 -0.2%;
  }

  canvas {
    max-width: 90%;
    margin: 10px auto;
  }

    /*BORDERING STYLES OF CONTENT*/

    #recent_activity,
    #new_members,
    #daily_traffic,
    #mobile_users,
    #traffic,
    #social_stats {
      border-bottom: solid 1px #c8c8c8;
    }

    #recent_activity,
    #mobile_users,
    #settings {
      border-left: solid 1px #c8c8c8;
    }

    .social {
      display: inline-block;
      width: 25%;
      margin: auto;
      margin-left: 5%;
      margin-bottom: 20px;
      border: solid 1px #c8c8c8;
    }


}
